@font-face {
    font-family: 'RoboR';
    src: url(../fonts/Roboto-Regular.ttf);

}

@font-face {
    font-family: 'RoboB';
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
  font-family:'RoboR';
  font-size: 16px;
  /*font-size: 10px !important;*/
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'RoboR';
  /*font-weight: 800 !important;*/
}

@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.eot?w118d');
	src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-envelope:before {
	content: "\e818";
}
.lnr-map-marker:before {
	content: "\e833";
}
.lnr-smartphone:before {
	content: "\e83a";
}

:root{
  /*--background-color-home: rgba(238,238,238 ,0.5);
  --background-color-acerca: rgba(211,47,47 ,0.9);
  --background-color-contacto: rgba(245,245,245,0.6);

*/
}

#content{
  background-color: rgba(26,35,126 ,1);


}

.borderbug{
  border: 1px solid black;
}

.mainhead{
    display: flex;
    justify-content: space-between;
    padding: 2px 100px;
    align-items: center;
    background-color: rgba(33,33,33 ,0.5);
    position: sticky;
    top:0;
    z-index: 100;

}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoimg{
    width: 4em;
    height: 4em;
    background: url("../img/despegue.png");
    background-size: cover;
    text-indent: -5000px;
    margin: 0;
}

.logotext a h1{
  font-size: 1em;
  color: rgba(238,238,238 ,1);

  margin: 0;
}


header nav.mainnav ul li a{
  padding: 1.5em;
  font-size: 1em;
  transition: 0.5s;
  color: rgba(238,238,238 ,1);
  background-color: inherit;
}

header nav.mainnav ul li a:hover{
  color: rgba(211,47,47 ,1);
}

header nav.mainnav ul li a.active{
  color: rgba(211,47,47 ,1);
}

div#home{
  height: 80vh;
  background: url("../img/homebackground2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}
.home{
  position: relative;


}

.slider{
  top: 15vh;
  height: 9em;
  position: absolute;
  display: block;
  width: 100%;
  background-color: rgba(33,33,33 ,0.5);
}

/*div.slider div p{
  align-items: center;
}*/

.slide1,
.slide2,
.slide3,
.slide4 {

  font-family:'RoboR';
  color: rgba(245,245,245 ,1);
	position: absolute;
  display: block;
  padding-top: 0.5em;
  width: 70vw;
  text-align: center;
  font-size: 2.0em;

	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.slide1{
	animation-name: anim-1;
}
.slide2{
	animation-name: anim-2;
}
.slide3{
	animation-name: anim-3;
}
.slide4{
	animation-name: anim-4;
}

@keyframes anim-1 {
	0%, 3% { left: 0%; opacity: 0; }
  3%, 20% { left: 15%; opacity: 1; }
  28%, 100% { left: 25%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 20% { left: 0%; opacity: 0; }
  30%, 45% { left: 15%; opacity: 1; }
  53%, 100% { left: 25%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 45% { left: 0%; opacity: 0; }
  55%, 70% { left: 15%; opacity: 1; }
  78%, 100% { left: 25%; opacity: 0; }
}

@keyframes anim-4 {
	0%, 70% { left: 0%; opacity: 0; }
  80%, 95% { left: 15%; opacity: 1; }
  100% { left: 25%; opacity: 0; }
}

.botonContacto{
  top: calc(15vh + 8em + 10vh) ;
  position: absolute;
  background-color: rgba(33,33,33 ,0.8);
  margin-left: calc(50vw - 4em);
  display: none;
  text-align: center;
  font-size: 2em;
  /*border: 1px solid rgba(245,245,245 ,1);*/
}

.botonContacto a{
  color: rgba(245,245,245 ,1);
  padding: 1em;
}



div#acerca{
  background: url("../img/homebackground5.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(239,235,233 ,1);
}
section.acerca {
    background-color: rgba(211,47,47 ,0.9);
  }
section.acerca div.content,
section.procedimiento div.content{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;

}
section.acerca div div.texto,
section.procedimiento div div.texto{
  width: 70%;
}
  .texto p{
    font-size: 1.2em;
    text-align: justify;
  }
section.acerca div div.imagen,
section.procedimiento div div.imagen{
  width: 30%;
  /*background: url(../img/justice.svg) no-repeat center center;
  background-size: contain;*/
}

section.acerca div div.imagen img,
section.procedimiento div div.imagen img{
  width: 100%;
  filter: invert(0.8);
  -webkit-filter: invert(0.8);
  -ms-filter: invert(80%);
  -o-filter: invert(0.8);
}


div#procedimiento{
  background: url("../img/homebackground6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(239,235,233 ,1);
}

section.procedimiento{
  background-color: rgba(25,118,210 ,0.8);
}

div#contacto{
  background: url("../img/homebackground4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(33,33,33 ,1);
}

section.contacto{
  background-color: rgba(245,245,245,0.6);
}

section.contacto div.contacto{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: top;

}

div.contacto div.texto{
  width: 50%;
}

.maps{
  width: 30vw;
  height: 50vh;

}

form{
    padding-right: 1rem;
}

ul.form-style-1{
    padding: 0;
    margin: 0;
}
.form-style-1 {
    font: 1rem;
}
.form-style-1 li {
    padding: 0;
    display: block;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:black;
}


footer{
  background-color: rgba(33,33,33 ,0.9);
  font-size: 1.1em;
}


@media (max-width: 575.98px) {
  body{
    font-size: 12px;
  }
  div#home{
    background: url("../img/back2portrait.jpg") no-repeat;
    background-size: cover;
    background-position: right;
  }
  .mainhead{
      flex-direction: column;
      padding: 2px 2px;
      position: relative;

  }
  .logo{
        padding: 1em;
  }
  .botonContacto{
        display: none;
  }
  .slider{
        height: 20em;
  }
  section.acerca div div.imagen,
  section.procedimiento div div.imagen{
        display: none;
  }
  section.acerca div div.texto,
  section.procedimiento div div.texto{
        width: 100%;
        padding: 0;
        margin: 0;
  }
  section.acerca div.content,
  section.procedimiento div.content{
    padding: 0;
    margin: 0;
  }
  section.contacto div.contacto{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  div.contacto div.texto{
    width: 100%;
    font-size: 0.8em;

  }
  .maps{
    width: 90%;
    padding-bottom:0;

  }



}

@media (min-width: 576px) and (max-width: 767.98px) {
  .mainhead{
      position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mainhead{
      position: relative;
  }


}

/*l*/

@media (min-width: 992px) /*and (max-width: 1199.98px)*/ {
  .logoimg{
      width: 60px;
      height: 60px;
      background: url("../img/despegue.png");
      background-size: cover;
      text-indent: -5000px;
      margin: 0;
  }
  .botonContacto{
    display: block;
  }

}

/*xl*/
/*
@media (min-width: 1200px) {


}
*/
